<article>
    <img class="listing-photo" [src]="housingLocation?.photo" alt="Exterior Photo of {{housingLocation?.name}}">
    <section class="listing-description">
        <h2 class="listing-heading">{{housingLocation?.name}}</h2>
        <p class="listing-location">{{housingLocation?.city}}, {{housingLocation?.state}}</p>
    </section>
    <section class="listing-features">
        <h2 class="section-heading">About this housing location</h2>
        <ul>
            <li>Units Available: {{housingLocation?.availableUnits}}</li>
            <li>Wifi: {{housingLocation?.wifi}}</li>
            <li>Laundry: {{housingLocation?.laundry}}</li> 
        </ul>
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Apply now to live here</h2>
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <label for="first-name">First Name</label>
            <input id="first-name" class="form-control" type="text" formControlName="firstName">

            <label for="last-name">Last Name</label>
            <input id="last-name" class="form-control" type="text" formControlName="lastName">

            <label for="email">Email</label>
            <input id="email" type="text" formControlName="email">
            <button type="submit" class="form-control" class="primary">Apply Now</button>
        </form>
    </section>
    <br>
    <a routerLink='/'>Return</a>
</article>